@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hola! I'm trying to build a web using dotnet</h1>
    <p>server time: @DateTime.Now</p>
</div>
